@import './variables';

.header {
  height: 80px;
  padding: 5px;
  border: 2px solid $header-border-color;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: $header-fz;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: $currency-bg;

  &__curr {
    margin-right: 15px;
    color: $header-color;
    flex: 0 1 25%;
  }
}